In [14]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns
sns.set(style="whitegrid", color_codes=True)

DATA_DIR="C:\\Users\\user\\Documents\\source\\ch06"
os.listdir(DATA_DIR)

['train.csv']

In [15]:
DATA_DIR="C:\\Users\\user\\Documents\\source\\ch06"
data_files=sorted([os.path.join(DATA_DIR, filename) for filename in os.listdir(DATA_DIR)], reverse=True)
data_files

['C:\\Users\\user\\Documents\\source\\ch06\\train.csv']

In [23]:
import pandas as pd
df_list=[]
for filename in data_files:
    df_list.append(pd.read_csv(filename))

df=pd.concat(df_list, sort=False)

df=df.reset_index(drop=True)

df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
number_of_train_dataset = df.Survived.notnull().sum()
number_of_test_dataset = df.Survived.isnull().sum()
y_true = df.pop("Survived")[:number_of_train_dataset]

AttributeError: 'DataFrame' object has no attribute 'Survived'

In [28]:
pd.options.display.float_format={:2f}.format

df.isnull().sum()/len(df)*100

SyntaxError: invalid syntax (Temp/ipykernel_11248/339092637.py, line 1)